<!-- 未ログイン時のフッター -->
<footer id="footer" class="footer-bottom bg-light py-3" style="background-color: #8b4513; border-top: 1px solid #ddd; box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);">
  <div class="container mx-auto px-0">
    <div class="flex justify-between items-center w-full px-4">
      <div class="flex text-white space-x-4">
        <%= link_to 'お問い合わせ', new_contact_path, class: 'footer-link text-center' %>
        <%= link_to '利用規約', terms_of_service_path, class: 'footer-link text-center' %>
        <%= link_to 'プライバシーポリシー', privacy_policies_path, class: 'footer-link text-center' %>
      </div>

      <!-- Twitter アイコンを右端に固定 -->
      <%= link_to "https://x.com/CatFoodMat45083", target: "_blank", class: "text-white" do %>
        <i class="fa-brands fa-x-twitter text-3xl"></i>
      <% end %>
    </div>
  </div>
</footer>

