<div class="food-card p-4 bg-white shadow-md rounded-lg text-center max-w-[16rem]">
  <%= image_tag "placeholder.png", alt: food.name, class: "w-full h-40 object-cover rounded-md mb-4" %>
  <h3 class="text-lg font-semibold text-gray-800 break-words"><%= food.name %></h3>
  <p class="text-sm text-gray-600 mt-2"><%= food.brand.name %></p>
  <%= link_to '製品を表示', food_path(food), class: "inline-block mt-4 px-4 py-2 text-sm text-white bg-blue-500 rounded hover:bg-blue-600" %>
</div>
