<div class="relative h-[40vh] flex flex-col items-center justify-center bg-cover" style="background-image: url(<%= image_path('top.png') %>); background-position: bottom;">
  <h1 class="text-center text-3xl font-zen mb-4 mt-6 text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);">ようこそ！</h1>
  <h1 class="text-center font-zen text-2xl mb-10 text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);">CatFoodMateは、愛猫の食事管理をもっと簡単に、もっと楽しくするためのアプリです</h1>
  <div class="text-center my-2">
    <h2 class="text-2xl font-zen text-white drop-shadow-md my-5" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);">
      愛猫の健康管理をもっと手軽に、もっと楽しく。<br>
      CatFoodMateで、あなたの猫との毎日をもっと素敵なものにしませんか？<br>
    </h2>
  </div>
</div>

<div class="flex flex-row justify-center gap-8 w-full px-5 mt-5 mb-2 grid sm:grid-cols-1 md:grid-cols-3">
  <div class="flex flex-col items-center">
    <%# 給与量の計算ボタン %>
    <%= link_to new_feeding_calculation_path, class: "relative card shadow-xl rounded-lg p-6 flex flex-col items-center h-[180px] w-full transition-all duration-300 hover:scale-105 bg-blue-500 text-white" do %>
      <div class="absolute inset-0 bg-gradient-to-t from-blue-600 to-blue-400 opacity-80 rounded-lg pointer-events-none"></div>
      <div class="relative flex flex-col items-center justify-center h-full space-y-4">
        <span class="material-icons" style="font-size: 48px;">calculate</span>
        <h2 class="text-xl font-semibold">給与量の計算</h2>
      </div>
    <% end %>
    <div class="arrow_box mt-10 p-4 rounded-lg w-full max-w-xs">
      <p class="text-base text-center font-zen">1日の給与量を簡単計算＆保存</p>
      <p class="text-sm font-zen">愛猫の体重やフードの種類に応じた適切な給与量を自動計算。結果を保存して、毎日の食事管理をスムーズに！</p>
    </div>
  </div>

  <div class="flex flex-col items-center">
    <%# フード一覧ボタン %>
    <%= link_to brands_path, class: "relative card shadow-xl rounded-lg p-6 flex flex-col items-center h-[180px] w-full transition-all duration-300 hover:scale-105 bg-green-500 text-white" do %>
      <div class="absolute inset-0 bg-gradient-to-t from-green-600 to-green-400 opacity-80 rounded-lg pointer-events-none"></div>
      <div class="relative flex flex-col items-center justify-center h-full space-y-4">
        <span class="material-icons" style="font-size: 48px;">reviews</span>
        <h2 class="text-xl font-semibold">フードレビュー</h2>
      </div>
    <% end %>
    <div class="arrow_box mt-10 p-4 rounded-lg w-full max-w-xs">
      <p class="text-base text-center font-zen">キャットフードのレビュー投稿＆閲覧</p>
      <p class="text-sm font-zen">実際に使用したフードの口コミや評価をシェアできるから、愛猫にピッタリのフード選びがカンタンに！</p>
    </div>
  </div>

  <div class="flex flex-col items-center">
    <%# みんなのペットボタン %>
    <%= link_to cats_path, class: "relative card shadow-xl rounded-lg p-6 flex flex-col items-center h-[180px] w-full transition-all duration-300 hover:scale-105 bg-orange-500 text-white" do %>
      <div class="absolute inset-0 bg-gradient-to-t from-orange-600 to-orange-400 opacity-80 rounded-lg pointer-events-none"></div>
      <div class="relative flex flex-col items-center justify-center h-full space-y-4">
        <span class="material-icons" style="font-size: 48px;">pets</span>
        <h2 class="text-xl font-semibold">みんなのペット</h2>
      </div>
    <% end %>
    <div class="arrow_box mt-10 p-4 rounded-lg w-full max-w-xs">
      <p class="text-base text-center font-zen">ペットのプロフィールを共有</p>
      <p class="text-sm font-zen">あなたの愛猫やペットのプロフィールをユーザーページから作成してみんなに紹介。他のユーザーとシェアできます！</p>
    </div>
  </div>
</div>
