<div class="container p-5">
  <h5 class="text-center">お問い合わせありがとうございました。</h5>
  <div class="text-center my-2">
    <%= link_to 'トップページに戻る', root_path, class: 'btn btn-info btn-lg px-5 py-2 rounded-lg shadow-md hover:bg-blue-600 transition duration-300' %>
  </div>
</div>
