<div class='ms-auto'>
  <% if user_signed_in? %>
    <% if current_user.bookmark?(food) %>
      <%= render "unbookmark", { food: food } %>
    <% else %>
      <%= render "bookmark", { food: food } %>
    <% end %>
  <% end %>
</div>