<%= link_to bookmarks_path(food_id: food.id), id: "bookmark-button-for-food-#{food.id}", data: { "turbo_method": :post } do %>
  <span class="material-icons text-default"style="font-size: 40px;">bookmark_border</span>
<% end %>
