<%= link_to bookmark_path(current_user.bookmarks.find_by(food_id: food.id).id), id: "unbookmark-button-for-food-#{food.id}", data: { "turbo_method": :delete } do %>
  <span class="material-icons">bookmark</span>
<% end %>
