<div class="container mx-auto mb-8">
  <h1 class="text-center mb-6 mt-2 text-3xl text-default">ブックマーク一覧</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% if @bookmark_foods.present? %>
      <% @bookmark_foods.each do |food| %>
        <%= render 'shared/food_card', food: food %>
      <% end %>
    <% else %>
      <p class="text-center">ブックマークされたフードはありません。</p>
    <% end %>
  </div>
</div>
