<h1>ブックマーク一覧</h1>

  <% if @bookmark_foods.present? %>
    <ul>
      <div class="grid" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 1.5rem;">
        <% @bookmark_foods.each do |food| %>
          <li>
            <%= render 'shared/food_card', food: food %>
          </li>
        <% end %>
      </div>
    </ul>
  <% else %>
    <p>ブックマークされたフードはありません。</p>
  <% end %>

