.arrow_box {
	position: relative;
	background: #ffffff;
	border: 4px solid #e07f34;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(224, 127, 52, 0);
	border-bottom-color: #e07f34;
	border-width: 36px;
	margin-left: -36px;
}