<div class="container mx-auto my-8 p-4 bg-gray-100 rounded-lg shadow">
  <% @brand_foods.group_by(&:first).each do |brand_name, foods| %>
    <div class="mb-8">
      <h2 class="text-2xl font-bold text-gray-800 border-b-2 border-gray-300 pb-2 mb-4">
        <%= brand_name %>
      </h2>
      <ul class="list-disc pl-6 text-gray-700">
        <% foods.each do |_, food_id, food_name| %>
          <li class="py-1">
            <%= link_to food_name, food_path(food_id), class: "text-blue-500 hover:underline" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
